body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-card {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}